@page
@model Selolaskuri.Razor.SelolaskuriModel
@{
    ViewData["Title"] = "Selolaskuri";
}


@*
*********************   UNDER DEVELOPMENT   *********************
Created 29.2.2020
*@


<h1>Selolaskuri</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*ORGANIZE INPUT DATA WITH TABLES*@

            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label asp-for="SelolaskuriRazorModel.selo_in" class="control-label"></label>
                            <input asp-for="SelolaskuriRazorModel.selo_in" class="form-control" autofocus="autofocus" />
                            <span asp-validation-for="SelolaskuriRazorModel.selo_in" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label asp-for="SelolaskuriRazorModel.pelimaara_in" class="control-label"></label>
                            <input asp-for="SelolaskuriRazorModel.pelimaara_in" class="form-control" />
                            <span asp-validation-for="SelolaskuriRazorModel.pelimaara_in" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
            </table>

            Miettimisaika<br />
            <fieldset>
                <label>
                    @Html.RadioButtonFor(e => e.miettimisaika_radiobutton, 90) ≥ 90 min
                </label>
                <label>
                    @Html.RadioButtonFor(e => e.miettimisaika_radiobutton, 89) 60-89 min
                </label>
                <label>
                    @Html.RadioButtonFor(e => e.miettimisaika_radiobutton, 59) 11-59 min
                </label>
                <label>
                    @Html.RadioButtonFor(e => e.miettimisaika_radiobutton, 10) ≤ 10 min
                </label>
            </fieldset>

            <div class="form-group">
                <label asp-for="SelolaskuriRazorModel.vastustajanSelo_in" class="control-label"></label>
                <input asp-for="SelolaskuriRazorModel.vastustajanSelo_in" class="form-control" />
                <span asp-validation-for="SelolaskuriRazorModel.vastustajanSelo_in" class="text-danger"></span>
            </div>

            <font size="1">
                Esim. Oma vahvuusluku-kenttään 1805 ja vastustajiin +1600 =1785 -1882 tai 1.5 1600 1822 1882 <br />
                tai csv "oma selo,tulokset" 1805,+1600 1785 -1882 tai 1820,1.5 1600 1822 1882
            </font>

            <p></p>

            @*1ST SUBMIT BUTTON*@
            <div class="form-group">
                <input type="submit" value="< Laske vahvuusluku >" asp-page-handler="LaskeVahvuusluku" class="btn btn-default" />
            </div>

            <font size="2">
                @ViewData["virhe"]
            </font>

            @*ORGANIZE OUTPUT DATA BETTER(?)*@
            <h2>
                @ViewData["TULOKSET"]
            </h2>

            @ViewData["uusi_selo"]  
            <br />
            @ViewData["selomuutos"]
        <p />
            @ViewData["uusi_pelimaara"]  @ViewData["uudenpelaajanlaskenta"]
        <p />
            @ViewData["turnauksentulos"]  
            <br />
            @ViewData["odotustulos"]
        <p />
            @ViewData["keskivahvuus"]
        <p />
            @ViewData["suoritusluku"]

            @*2ND SUBMIT BUTTON*@
            <div class="form-group">
                <input type="submit" value="< Kopioi vahvuusluku uuteen laskentaan >" asp-page-handler="KaytaTulostaJatkolaskennassa" class="btn btn-default" border="2" />
            </div>
        </form>
    </div>
</div>

<font size="2">C#/ASP.NET (Razor pages version, under development) 2020-03-07 Ismo Suihko</font>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
